@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url("../images/apple-pie.jpg");
    background-position: center;
    background-size: cover;
    height: 480px;
    display: flex;
}

h1 {
    color: white;
    font-size: 56px;
    margin: auto;
}

main {
    padding: 80px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

p.intro {
    font-size: 18px;
}

img {
    width: 400px;
    max-width: 100%;
    margin: auto;
}

ul {
    margin-left: 14px;
}

ul > li {
    list-style-type: "- ";
    /* list-style-position: inside; */
}

hr {
    margin: 40px 0;
}

ol {
    list-style: none;
}

ol > li {
    counter-increment: listcounter;
}

ol > li::before {
    content: counter(listcounter) ") ";
}